{% extends 'base.html' %}
{% load static %}

{% block title%} Gerenciador de Produtos - Crédito Verde {% endblock %}

{% block content %}
<div class="product-management">
    <h2>Gerenciador de Produtos</h2>
    <a href="{% url 'produto_create' %}" class="btn"><i class="fa fa-plus"></i> Novo Produto</a>

    <div class="product-list">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Preço</th>
                    <th>Disponível</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in object_list %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.get_categoria_display }}</td>
                    <td>{{ produto.preco_unitario }}</td>
                    <td>{% if produto.disponivel %} <i class="fas fa-check"></i>{% else %} <i class="fas fa-times"></i>{% endif %}</td>
                    <td>
                        <a href="{% url 'produto_update' produto.id %}" class="btn-edit"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'produto_delete' produto.id %}" class="btn-delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
